*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 9.5vh;
	background-color: #5d4954;
	font-family: 'Poppins', sans-serif;
	position: fixed; top: 0; width: 100%;
	z-index: 1;
	}
.logo{
	color: #fff;
	letter-spacing: 3px;
	font-size: none;
	}
.nav-links{
	display: flex;
	background-color: none;
	justify-content: space-around;
	width: 40%;
	}
.nav-links li{
	list-style: none;
	}
.nav-links a{
	color: #fff;
	text-decoration: none;
	letter-spacing: none;
	font-size: none;
	}
.burger{
	display: none;
	cursor: pointer;
	}
.burger div{
	width: 25px;
	height: 2px;
	background-color: #fff;
	margin: 5px;
	}
@media only screen and (max-width: 1024px) {
  	.nav-links{
    		width: 60%;
  	}
}
@media only screen and (max-width: 768px) {
	body{
	    overflow-x: hidden;
	}
  	.nav-links{
    		position: absolute;
		right: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #5d4954;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
  	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
	}
	.col-left,
	.col-right{
		display: flex;
		flex-direction: column;
	}
}


.nav-active{
	transform: translateX(0%);
	}

@keyframes navLinkFade{
		from{
		    opacity: 0;
		    transform: translateX(50px);
		}
		to{
		    opacity: 1;
		    transform: translateX(0px);
		}
	}


body{
	font-family: 'Poppins', sans-serif;	
	}
.row-1{
	margin: 12vh auto 0;	
	max-width: 80%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	}
.col-2{
	flex-basis:50%;
	min-width: 250px;
	padding: 13px 15px 25px;	
	}
.col-2 img{
	max-width: 100%;	
	padding: 13px 15px 25px;
	}




.khuvuc{
	width: 68%;
	margin: 135px auto;
	color: #3b3b3b;
	}
.khuvuc-tab{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	background: #fbfbfb;
	border-bottom: 1px solid #dddddd;
	border-radius: 5px;	
	}
.tphcm-tab,
.hanoi-tab{	
	min-width: 50%;	
	font-size: 18px;
	font-family: Tahoma;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
	}
.tphcm-tab:before,
.hanoi-tab:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background: #028f09;
	transition: all 0.2s ease;
	opacity: 0;
		}
.tphcm-tab:hover,
.hanoi-tab:hover,
.tphcm-tab.active,
.hanoi-tab.active{
	background: #e8f5f1;
	color: #028f09;
	outline: none;
	border-radius: 7px;
		}
.tphcm-tab:hover:before,
.hanoi-tab:hover:before,
.tphcm-tab.active:before,
.hanoi-tab.active:before{	
	opacity: 1;
		}
.khuvuc-content{
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 15px 20px;
	margin: 2vh 0;
	}
.khuvuc-list{
	justify-content: space-around;
	}
.khuvuc-list ul li{
	list-style: none;	
		}

.khuvuc-list ul li a{
	text-decoration: none;	
		}
.col-left,
.col-right{
	width: 100%;
	display: flex;
	justify-content: center;
	justify-content: space-around;
	}


.quan-content{
	width: 90%;
	margin: 120px auto 80px;
	color: #3b3b3b;
	}
.quan-row-1{	
	margin: 2vh auto 2vh;
	display: flex;
	//max-width: 60%;
	//align-items: center;		
	border-bottom: solid 1px #f4f4f4;
	padding-bottom: 1.5vh;	
	}
.quan-col-right{
	font-family: sans-serif;
	font-size: 15px;
	margin-left: 2vh;		
	}
.quan-col-right a{
	text-decoration: none;
	color: #3b3b3b;
	font-weight: bold;
		}
.quan-col-left img{
	display: inline-block;
    	height: 13.8vh;
    	width: 13.8vh;	
    	overflow: hidden;	
	}
.xem-them{
	color: #ff523b;
	font-style: italic;
	}

.btn{
	display: inline-block;
	background: #ff523b;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	}
footer{
	width: 100%;
	height: auto;
	padding: 50px 100px;
	background: #111;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	}
footer .page-footer{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	}
footer .page-footer .section-aboutus{
	margin-right: 30px;
	width: 40%;
	}
footer .page-footer h2{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
	}
footer .page-footer h2:before{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #f00;
	}
footer .page-footer .section-aboutus p{
	color: #999;
	}


footer .page-footer .section-quicklinks{
	position: relative;
	width: 25%;
	}
footer .page-footer ul li{
	list-style: none;
	}
footer .page-footer ul li a{
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
	}
footer .page-footer ul li a:hover{
	color: #fff;
	}

.copyright{
	width: 100%;
	background: #161616;
	padding: 10px 100px;
	text-align:center;
	color: #999;
	}
@media (max-width:768px){
	footer{
		padding:40px;
		}
	footer .page-footer{
		flex-direction: column;
		}
	footer .page-footer .section-aboutus,.section-quicklinks{
		margin-right: 0;
		margin-bottom: 40px;
		width: 100%;
		}
	footer .page-footer .section-contact,.section-quicklinks{
		display: none;
		}
	}
